.form-content{
    font-family: "Poppins", sans-serif !important;
}

.content{
    margin: 20px;
}

.content input{
        margin-bottom: 40px !important;
}

.btn{
    float: right;
}

h3{
    font-family: "Poppins", sans-serif !important;
    margin-bottom: 10px;
    font-size: 20px;
}

.active .bs-stepper-circle{
    background-color: #5990f7 !important;
}

.btn-primary{
    background-color: #0255f7 !important;
    border-color: #0255f7 !important;
}

.back{
    margin-right: 23px;
    background-color: #6ab3fc !important;
    border-color: #6ab3fc !important;
}