/*https://stackoverflow.com/questions/21590343/how-to-display-a-gif-fullscreen-for-a-webpage-background/21590382*/
/*https://codepen.io/MattWindle/pen/perZRG*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


/* Navbar Code */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 20px;
  }
  
  li {
    float: left;
  }

  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }

  .nav-link {
    font-size: 14px;
    text-decoration: none;
    padding: 13px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }
  
  .nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #0255F7;
  }
  
  li a {
    display: block;
    color: #062766;
    text-align: center;
    padding: 5px 14px;
    text-decoration: none;
  }
  
  
  .banner {
    background-color: #0155F7;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    width: 6rem;
    height: 1.8rem;
  }

    /* Cards Code */

  .cards .card {
    transition: all .3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    width: 20%;
    border-radius: 10px;
    background-color: #f1f1f1;
  }

  .cards{
      display: flex;
      margin: auto;
      margin-top: 3rem;
      justify-content: space-around;
  }

  .card .emoji{
      font-size: 5rem;
      margin: 10px;
  }

  .card:hover{
      cursor: pointer;
      transform: scale(1.05);
      box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  }

  .orange{
    background: linear-gradient(148.8deg, rgba(247, 134, 1, 0.72) 18.69%, rgba(244, 220, 4, 0.54) 95.21%);
  }

  .blue{
    background: linear-gradient(148.62deg, #0155F7 5.38%, rgba(1, 144, 247, 0.71) 100%);
  }

  .green{
    background: linear-gradient(148.86deg, #3DBF1D 3.45%, rgba(187, 235, 51, 0.75) 100%);
  }

  .red{
    background: linear-gradient(148.14deg, rgba(247, 1, 1, 0.71) 4.39%, rgba(247, 134, 1, 0.41) 100%);
  }

  .card .subtitle{
    font-weight: 700;
    color: white;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }


.homepage{
    text-align: center;
    color: black;
}

.exam-button{
    color: #FFFFFF;
    background: #0155F7;
    border-radius: 10px;
    transition: background 1s;
    height: 3rem;
    width: 15rem;
    border: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.exam-button:hover{
    cursor: pointer;
    background: #0a41af;
}

body{
    text-align: center;
    color: yellow;
    font-family: 'Poppins', sans-serif;
}

.button{
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    
}

.Logo{
    text-align: left;
}
.happy {
    background-color: yellow;
    width: 200px;
    height: 50px;
}

.sad {
    background-color: blue;
    width: 200px;
    height: 50px;
}


.angry {
    background-color: red;
    width: 200px;
    height: 50px;
}

.neutral {
    background-color: green;
    width: 200px;
    height: 50px;
}

     
.column {
    float: left;
    width: 30%;
    text-align: center;
}

.column1 {
    float: left;
    width: 40%;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.divide{
    padding: 2px;
    margin: 2px;
}

h3{
    font-weight: normal;
    margin-top: 3rem;
    font-size: 1.5rem;
}

.title{
    color: #0D2970;
    font-size: 2.5rem;
}
.change{
    color: blue;
}