/*https://stackoverflow.com/questions/21590343/how-to-display-a-gif-fullscreen-for-a-webpage-background/21590382*/
/*https://codepen.io/MattWindle/pen/perZRG*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


/* Navbar Code */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #062766;
    text-align: center;
    padding: 5px 14px;
    text-decoration: none;
  }
  
  
  .banner {
    background-color: #0155F7;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    width: 5rem;
    height: 1.5rem;
  }

  .cards .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    width: 20%;
    background-color: #f1f1f1;
  }

  .cards{
      display: flex;
      margin: auto;
      justify-content: space-around;
  }

  .card .emoji{
      font-size: 5rem;
      margin: 10px;
  }

  .card .subtitle{
    font-weight: 700;
    color: white;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }


.homepage{
    text-align: center;
    color: black;
}

body{
    text-align: center;
    color: yellow;
    font-family: 'Poppins', sans-serif;
}

.button{
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    
}

.Logo{
    text-align: left;
}
.happy {
    background-color: yellow;
    width: 200px;
    height: 50px;
}

.sad {
    background-color: blue;
    width: 200px;
    height: 50px;
}


.angry {
    background-color: red;
    width: 200px;
    height: 50px;
}

.neutral {
    background-color: green;
    width: 200px;
    height: 50px;
}

     
.column {
    float: left;
    width: 30%;
    text-align: center;
}

.column1 {
    float: left;
    width: 40%;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.divide{
    padding: 2px;
    margin: 2px;
}

h3{
    font-weight: normal;
}

.title{
    color: #0D2970;
}
.change{
    color: blue;
}